class {
  onCreate() {
    this.state = {
      title: 'Marko Banner'
    };
  }
  onBannerClick(title) {
    alert('click banner:' + title);
  }
}

<div class="container">
  <h2>${state.title}</h2>
  <div class="list">
    <div for(idx, item in data.items) class="item" on-click('onBannerClick')>
      <img src=item.img class="itemImg" />
    </div>
  </div>
</div>
