<import { default as styles } from './styles'/>

<script>
  export default {
    onBannerClick(title) {
      alert('click banner:' + title);
    }
  }
</script>

<div style=styles.container>
  <h2>Marko Banner: </h2>
  <div style=styles.list>
    <div for(idx, item in data.items) style=styles.item on-click('onBannerClick', item.title)>
      <img src=item.img style=styles.itemImg />
    </div>
  </div>
</div>